In [197]:
import json
import requests
import pandas as pd
from config import api_key
import random
import citipy
import openweathermapy.core as owm
units='imperial'

In [198]:

cities_csv="worldcities.csv"
cities_info_df=pd.read_csv(cities_csv)
cities_info_df.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [199]:
url='http://api.openweathermap.org/data/2.5/weather?'

query_urllist=[]
lat_random=[]
long_random=[]
city_namelist=[]
country_codelist=[]




for i in range(20):
    lat_random.append(random.choice(cities_info_df["Latitude"]))
    long_random.append(random.choice(cities_info_df["Longitude"]))
    
#query_urllist.append(url+"lat="+lat_random+"lon="+long_random+"&appid"+api_key)
for i in range(20):
    cityname=(citipy.nearest_city(float(lat_random[i]), float(lat_random[i])))
    city_namelist.append(cityname.city_name)
    country_codelist.append(cityname.country_code)

#print(city_namelist)
#print(country_codelist)
import urllib

    
city_dict={ 'City':city_namelist,
            'Country Code':country_codelist,
            'Latitude': lat_random,
            'Longitude': long_random
          }
city_dict_df1=pd.DataFrame(city_dict)
city_dict_df=city_dict_df1.drop_duplicates(["City"])

city_dict_df=city_dict_df.reset_index(drop=True)
print(city_dict_df)
for i in range(len(city_dict_df)):
    query_url=f"{url}appid={api_key}&units={units}&q="
    #print(city_dict_df['City'][i])
    #print(query_url+city_namelist[i])
    query_urllist.append(query_url+city_dict_df['City'][i].replace(" ", "%20"))
    
    print(query_urllist[i])

            City Country Code   Latitude   Longitude
0   solomenskoye           ru  44.213889   17.166667
1     georgetown           sh -22.566667   23.562500
2        bayburt           tr  40.400000  -91.816667
3            mao           td  15.516306  -97.283333
4          matay           eg  27.336111  -71.616667
5        lemesos           cy  33.100000   25.933333
6          diffa           ne  12.471300  120.542222
7         ozinki           ru  50.000000   -8.467883
8          birsk           ru  55.461837    7.766667
9       totskoye           ru  52.666972    5.583333
10          rize           tr  40.631944   -7.443500
11          faya           td  17.900794   11.933333
12         lagos           ng   3.346389   75.466667
13    dromolaxia           cy  34.021111    9.068036
14      tambovka           ru  48.321494   20.458611
15        naruja           ge  41.983333  -92.441944
16         lafia           ng   8.878333   40.884700
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=solomenskoye
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=georgetown
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=bayburt
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=mao
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=matay
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=lemesos
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=diffa
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=ozinki
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=birsk
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=totskoye
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=rize
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=faya
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=lagos
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=dromolaxia
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=tambovka
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=naruja
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=lafia

In [211]:
temp=[]
humid=[]
cloud=[]
wind=[]
lat=[]
country=[]
date=[]
lng=[]
max_temp=[]
city=[]
for i in range(len(city_dict_df)):
#     print(city_dict_df['City'])
    try:
        response = requests.get(query_urllist[i]).json()   
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        country.append(response['sys']['country'])
        city.append(response['name'])
        date.append(response['dt'])
        max_temp.append(response['main']['temp_max'])
        temp.append(response['main']['temp'])
        humid.append(response['main']['humidity'])
        wind.append(response['wind']['speed'])
        cloud.append(response['clouds']['all'])
    except:
        print("error happens at iteration", i)
        pass
city

error happens at iteration 5

['Solomenskoye',
 'Georgetown',
 'Bayburt',
 'Mao',
 'Matay',
 'Diffa',
 'Ozinki',
 'Birsk',
 'Totskoye',
 'Rize',
 'Faya',
 'Lagos',
 'Dromolaxia',
 'Tambovka',
 'Naruja',
 'Lafia']

In [212]:
weather_dict={'City':city,
            "Lat": lat,
            "Temp": temp,
            "Humidity": humid,
            "Wind Speed": wind,
            "Cloudiness": cloud,
            "Lng":lng,
            "Date":date,
            "Country":country,
            "Max Temp":max_temp
             }
weather_data = pd.DataFrame(weather_dict)
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Temp,Wind Speed
0,Solomenskoye,0,RU,1522531258,91,44.22,44.35,34.71,34.71,9.93
1,Georgetown,20,GY,1522526400,51,6.80,-58.16,86.00,86.00,11.41
2,Bayburt,0,TR,1522531279,74,40.26,40.22,20.08,20.08,2.55
3,Mao,75,DO,1522530000,57,19.55,-71.08,80.60,79.68,9.17
4,Matay,0,EG,1522531280,49,28.42,30.79,61.26,61.26,9.89
5,Diffa,0,NE,1522531280,27,13.32,12.61,78.09,78.09,7.92
6,Ozinki,0,RU,1522531281,80,51.20,49.73,19.99,19.99,11.39
7,Birsk,92,RU,1522531289,90,55.42,55.54,22.92,22.92,10.04
8,Totskoye,88,RU,1522531281,89,52.53,52.75,22.02,22.02,10.60
9,Rize,0,TR,1522529400,87,41.02,40.52,48.20,48.20,1.12
10,Faya,5,SA,1522526400,48,18.39,42.45,64.40,64.40,3.00
11,Lagos,20,NG,1522530000,94,6.46,3.39,82.40,82.40,3.36
12,Dromolaxia,0,CY,1522530000,93,34.88,33.59,59.00,57.25,5.82
13,Tambovka,20,UA,1522531283,85,46.93,35.45,42.36,42.36,14.81
14,Naruja,0,GE,1522528200,93,41.91,41.96,53.60,51.85,6.93
15,Lafia,8,NG,1522531284,38,8.50,8.51,80.70,80.70,5.53